Creamos la Base de Datos

In [1]:
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'miempresita')
BEGIN
  CREATE DATABASE miempresita;
END;
GO

Un cliente quiere hacer una compra de varios productos

In [2]:
create table products (
    id int not null primary key,
    name nvarchar(200) not null,
    price money not null default 0.0
)